.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    margin: 0 30px;
    padding-bottom: 30px;
}

@media screen and (max-width:768px) {
    .services-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0px;
        margin: 0 10px;
        padding-bottom: 20px;
    }

    
}