.card{
   
    height: 450px;
    width: 300px;
    border-radius: 15px;
}

.image-service{
    height: 230px;
    padding: 15px;
    border-radius: 15px;
   
    
}

.book-button{
    width: 270px;
}