.card{
    height: 450px;
    width: 300px;
    border-radius: 15px;
}
.image-service{
    height: 230px;
    padding: 15px;
    border-radius: 15px;  
}
.book-button{
    width: 270px;
}

@media screen and (max-width:768px) {
    .card{
        height: 500px;
        width: 340px;
        margin-top: 20px;
        border-radius: 15px;
    }
    .book-button{
        width: 300px;
    }

    
}